################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/AutomacaoDeProceduresMonitor/v17/workspaceFileList.bin
/.vs/AutomacaoDeProceduresMonitor/v17/.suo
/src/.vs/AutomacaoDeProceduresMonitor/v17/.suo
/src/.vs/AutomacaoDeProceduresMonitor/v17/.futdcache.v1
/src/.vs/AutomacaoDeProceduresMonitor/DesignTimeBuild/.dtbcache.v2
/src/obj
/src/bin
